# Ignore the android app directory
androidapp/

#Ignoring the password file
passwords.txt

#Ignoring git and cache folders
.git
.cache

#Ignoring all the markdown and class files
*.md
**/*.class
Procfile
runtime.txt