<!DOCTYPE html>
<html>
<!--From https://codepen.io/frytyler/pen/EGdtg-->

<head>
  <meta charset="UTF-8">
  <head>
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', path='/w3.css') }}">
  </head>
  <style type="text/css">
    .mySlides {
      display: none;
    }
  </style>
</head>

<body>

  <div class='w3-padding w3-teal w3-center'>
    <h1>Interest Calculator</h1>
  </div>
  <div class="w3-container">
    <div class="w3-padding-18 w3-content w3-section w3-threequarter">
    </div>

  </div>
  </div>
  </div>

  <div class="w3-container">
    <form class="w3-container w3-card-2" method="POST" style="width: 100%">
      <h2 class="w3-text-blue w3-center w3-text-teal">Input Your Details</h2>
      <p>
        <label class="w3-text-teal"><b>Name</b></label>
        <input id="id1" class="w3-input w3-border" name="name" placeholder="Name" required="required" type="text">
      </p>
      <p>
        <label class="w3-text-teal"><b>Principal</b></label>
        <input id="char" class="w3-input w3-border" name="principal" type="number" placeholder="Principal"
          required="required">
      </p>
      <label class="w3-text-teal"><b>rate</b></label>
      <input id="id1" class="w3-input w3-border" name="rate" placeholder="rate" type="number" required="required"></p>
      <p>
        <label class="w3-text-teal"><b>Time</b></label>
        <input id="id1" class="w3-input w3-border" name="time" placeholder="Time" type="number"
          required="required">
      </p>
      <p>
        <button onclick="myFunction()" type="submit"
          class="btn btn-primary btn-block btn-large w3-text-teal w3-border-teal" style="width:100%;">Result</button>
    </form>
  </div>



  <br>

  <div class="footer-dark">
    <footer>
      <div class="container">
        <p class='w3-padding w3-teal w3-center'>Made by Ifeanyi Nneji © 2022</p>
      </div>
    </footer>
  </div>

  </div>
</body>

</html>